.content {
  min-height: 100vh;
}

.container {
  max-width: 1740px;
}

.dark-bg {
  background: $bg-dark;
  color: #fff;
}

a {
  transition: .2s;
  &:hover {
    color: $accent;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  &-dark {
    color: #fff;
    background-color: $bg-dark;
  }
}

.section-header {
  h2 {
    font-family: $title-font;
    color: inherit;
  }
  p {
    color: inherit;
  }
}


.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


.loading {
  // background-color: $bg-dark;
}


.ReactModal {
  &__Body--open {
    position:fixed;
    overflow-y: scroll;
    width: 100%;
  }
  &__Overlay--after-open {
    background-color: rgba(#000, .75) !important;
  }
}

//.modal-opened {
//  overflow: hidden;
//  margin-right: 17px;
//}