@font-face {
  font-family: 'KB Band';
  font-display: swap;
  src: url('./../fonts/KBBand.eot');
  src: url('./../fonts/KBBand.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/KBBand.woff2') format('woff2'),
  url('./../fonts/KBBand.woff') format('woff'),
  url('./../fonts/KBBand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}