.footer {
  background-color: $bg-dark;
  &-inner {
    border-top: 1px solid rgba(#fff, .1);
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
  }

  &-logo {
    max-width: 200px;
    opacity: .9;
  }
}